body {
  margin: 0;
}
.bghome {
  background-image: url("../anniversary.github.io/Images/BB.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
